---
// @ts-ignore
import { sanityClient } from "sanity:client"
import Layout from "../layouts/Layout.astro";
import Album from "../components/Album.astro";

export interface AlbumDocument {
  _id: string,
  title: string,
  description: unknown,
  startedAt: string,
  endedAt: string
}

const query = `*[_type == "album"] | order(startedAt desc) {_id, title, description, startedAt, endedAt}`
const albums: AlbumDocument[] = await sanityClient.fetch(query)
---

<!-- https://www.youtube.com/watch?v=ha1ECFXW1w4 -->
<Layout title="Photography · Rohan Nagavardhan">
  <div>
    <p class="text-base font-bold">Photography</p>
    <p class="italic text-xs">my collection of film, polaroid, digital photography</p>
    
    <div class="mt-2">
      <p class="font-medium">Gear</p>
      <ul class="text-xs">
        <li>Polaroid Now <span class="italic">(acq. ~December 2022)</span></li>
        <li>Elikon 35C <span class="italic">(acq. ~May 2023)</span></li>
        <li>Pentax K1000 <span class="italic">(acq. ~January 2024)</span></li>
        <li>Canon Prima Super 90 <span class="italic">(acq. ~January 2024)</span></li>
      </ul>
    </div>


    <div class="my-5">
      {albums.map((doc) => <Album id={doc._id} title={doc.title} description={doc.description} />)}
    </div>
  </div>
</Layout>
