---
import Layout from "../layouts/Layout.astro";
---

<!-- https://www.youtube.com/watch?v=ha1ECFXW1w4 -->
<Layout title="Photos · Rohan Nagavardhan">
  <div>
    <p class="italic">let me cook...</p>
  </div>
</Layout>
