---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Photos · Rohan Nagavardhan">
    <div class="grid md:grid-cols-3 gap-5 grid-flow-row-dense mr-5 mb-5">
        <img loading="lazy" class="row-span-3 col-span-3" src="/assets/AmalfiItaly_SunriseBalcony.jpeg" />

        <img loading="lazy" src="/assets/LosAngelesUS_Marina.jpg" />
        <img loading="lazy" src="/assets/LosAngelesUS_VolleyballNet.jpg" />
        <img loading="lazy" src="/assets/LosAngelesUS_RandysDonuts.jpg" />

        <img loading="lazy" class="row-span-3 col-span-3 rounded-sm" src="/assets/RomeItaly_Basillica1.jpg" />

        <img loading="lazy" src="/assets/RomeItaly_Basillica2.jpg" />
        <img loading="lazy" src="/assets/RomeItaly_Streets.jpg" />
        <img loading="lazy" src="/assets/RomeItaly_VaticanStatue.jpeg" />

        <img loading="lazy" class="row-span-3 col-span-3 rounded-sm" src="/assets/LosAngelesUS_Sunflower.jpg" />

        <img loading="lazy" src="/assets/LosAngelesUS_UrbanLights.jpg" />
        <img loading="lazy" src="/assets/LosAngelesUS_VeniceBeach.jpg" />
        <img loading="lazy" src="/assets/LosAngelesUS_Gramercy.jpg" />

        <img loading="lazy" class="row-span-3 col-span-3 rounded-sm" src="/assets/PragueCzechia_MotherChild.jpg" />

        <img loading="lazy" src="/assets/RomeItaly_SpanishSteps.jpg" />
        <img loading="lazy" src="/assets/RomeItaly_AncientRuins.jpg" />
        <img loading="lazy" src="/assets/RomeItaly_Rafael.jpg" />

        <img loading="lazy" class="row-span-3 col-span-3 rounded-sm" src="/assets/RomeItaly_TreviFountain.jpg" />

        <img loading="lazy" src="/assets/PragueCzechia_ZizkovTower1.JPG" />
        <img loading="lazy" src="/assets/PragueCzechRepublic_PilsnerByCastle.jpeg" />
        <img loading="lazy" src="/assets/PragueCzechRepublic_DancingHouse.jpeg" />

        <img loading="lazy" class="row-span-3 col-span-3 rounded-sm" src="/assets/PragueCzechRepublic_MovieSet.jpeg" />
    </div>
</Layout>